# SPDX-License-Identifier: MIT

# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      # Ignore k8s, controller-runtime and its transitives modules as they are upgraded manually.
      # we also have to update local kind cluster configuration (hack/kind-with-registry.sh)
      - dependency-name: "sigs.k8s.io/controller-runtime"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "k8s.io/*"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
    groups:
      k8s.io-dependencies:
        patterns:
          - "k8s.io/*"
      koanf-dependencies:
        patterns:
          - "github.com/knadh/koanf*"
