# Patterns to ignore when packaging a Helm chart.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.bak
*.swp
*.orig
*~
# Various IDEs
.project
.idea/
.vscode/
*.tmproj
.classpath
# Helm files
.helmignore
Chart.lock
