---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-garm-operator-mercedes-benz-com-v1alpha1-image
  failurePolicy: Fail
  name: validate.image.garm-operator.mercedes-benz.com
  rules:
  - apiGroups:
    - garm-operator.mercedes-benz.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - images
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-garm-operator-mercedes-benz-com-v1alpha1-pool
  failurePolicy: Fail
  name: validate.pool.garm-operator.mercedes-benz.com
  rules:
  - apiGroups:
    - garm-operator.mercedes-benz.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - pools
  sideEffects: None
