apiVersion: apps/v1
kind: Deployment
metadata:
  name: garm-operator-controller-manager
  namespace: garm-operator-system
spec:
  template:
    spec:
      containers:
        - name: manager
          args:
            - --garm-server=http://garm-server.garm-server.svc.cluster.local:9997
            - --garm-username=admin
            - --garm-password=LmrBG1KcBOsDfNKq4cQTGpc0hJ0kejkk
            - --operator-watch-namespace=garm-operator-system
