apiVersion: garm-operator.mercedes-benz.com/v1alpha1
kind: Repository
metadata:
  labels:
    app.kubernetes.io/name: repository
    app.kubernetes.io/instance: repository-sample
    app.kubernetes.io/part-of: garm-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: garm-operator
  name: garm-operator
  namespace: garm-operator-system
spec:
  webhookSecretRef:
    key: "webhookSecret"
    name: "org-webhook-secret"
  credentialsName: "GitHub-Actions"
  owner: "mercedes-benz"
---
apiVersion: v1
kind: Secret
metadata:
  name: repo-webhook-secret
  namespace: garm-operator-system
data:
  webhookSecret: bXlzZWNyZXQ=
