---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: enterprises.garm-operator.mercedes-benz.com
spec:
  group: garm-operator.mercedes-benz.com
  names:
    categories:
    - garm
    kind: Enterprise
    listKind: EnterpriseList
    plural: enterprises
    shortNames:
    - ent
    singular: enterprise
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Enterprise ID
      jsonPath: .status.id
      name: ID
      type: string
    - description: Status of the referenced pool
      jsonPath: .status.poolManagerIsRunning
      name: Ready
      type: string
    - description: Error description
      jsonPath: .status.poolManagerFailureReason
      name: Error
      priority: 1
      type: string
    - description: Time duration since creation of Enterprise
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Enterprise is the Schema for the enterprises API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: EnterpriseSpec defines the desired state of Enterprise
            properties:
              credentialsName:
                type: string
              webhookSecretRef:
                properties:
                  key:
                    type: string
                  secretName:
                    type: string
                required:
                - key
                - secretName
                type: object
            required:
            - credentialsName
            - webhookSecretRef
            type: object
          status:
            description: EnterpriseStatus defines the observed state of Enterprise
            properties:
              id:
                type: string
              poolManagerFailureReason:
                type: string
              poolManagerIsRunning:
                type: boolean
            required:
            - id
            - poolManagerIsRunning
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
