name: build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: lint and test
    runs-on: [ road-runner, medium ] # could run on a k8s pod in the future
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: make verify
        run: make verify

      - name: make lint
        run: make golangci-lint && GOLANGCI_LINT_EXTRA_ARGS=--timeout=1h make lint

      - uses: actions/setup-node@v3
        with:
          node-version: 14
      
      - name: Install commitlint
        run: |
          npm install conventional-changelog-conventionalcommits
          npm install commitlint@latest

      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --from HEAD~1 --to HEAD --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
      
      - name: make test
        run: make test
