# SPDX-License-Identifier: MIT
# Jobs to run Blackduck based FOSS scan
name: FOSS Scan
on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  foss-scan:
    name: foss-scan
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
        id: go

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Synopsys Detect
        run: |
          GITHUB_REF="$(echo $GITHUB_REF_NAME | tr ':/' '_')"
          BLACKDUCK_SCAN_VERSION_NAME="${GITHUB_REF}_${GITHUB_SHA}"
          export BLACKDUCK_SCAN_VERSION_NAME

          # create the tmp directory as we also do during the release process
          mkdir -p tmp

          ./hack/foss-scan.sh
        env:
          BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
          BLACKDUCK_PROJECT_NAME: ${{ secrets.BLACKDUCK_PROJECT_NAME }}
          BLACKDUCK_TOKEN: ${{ secrets.BLACKDUCK_TOKEN }}

      - name: Archive foss scan notices report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: 3RD_PARTY_LICENSES.txt
          path: tmp/Black_Duck_Notices_Report.txt

      - name: Archive foss scan risk report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: foss-scan-risk-report
          path: tmp/BlackDuck_RiskReport.pdf
