# SPDX-License-Identifier: MIT

name: release

on:
  push:
    # run only against tags
    tags:
      - 'v*'

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: '1.24.0'

      - name: Synopsys Detect
        run: |
          GITHUB_REF="$(echo $GITHUB_REF_NAME | tr ':/' '_')"
          BLACKDUCK_SCAN_VERSION_NAME="${GITHUB_REF}_${GITHUB_SHA}"
          export BLACKDUCK_SCAN_VERSION_NAME

          # create the tmp directory as we also do during the release process
          mkdir -p tmp

          ./hack/foss-scan.sh

          mv tmp/Black_Duck_Notices_Report.txt tmp/3RD_PARTY_LICENSES.txt
        env:
          BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
          BLACKDUCK_PROJECT_NAME: ${{ secrets.BLACKDUCK_PROJECT_NAME }}
          BLACKDUCK_TOKEN: ${{ secrets.BLACKDUCK_TOKEN }}

      - name: SBOM
        run: make sbom

      - name: release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}

      - name: Send http get to doc.crds.dev to index a new version
        run: |
          curl -sL https://doc.crds.dev/github.com/mercedes-benz/garm-operator@${{ github.event.release.tag_name }} | grep -A2 'class="container"'