# SPDX-License-Identifier: MIT

name: release

on:
  push:
    # run only against tags
    tags:
      - 'v*'

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.5'

      - name: Synopsys Detect
        run: |
          GITHUB_REF="$(echo $GITHUB_REF_NAME | tr ':/' '_')"
          BLACKDUCK_SCAN_VERSION_NAME="${GITHUB_REF}_${GITHUB_SHA}"
          export BLACKDUCK_SCAN_VERSION_NAME

          # create the tmp directory as we also do during the release process
          mkdir -p tmp

          ./hack/foss-scan.sh

          mv tmp/Black_Duck_Notices_Report.txt tmp/3RD_PARTY_LICENSES.txt
        env:
          BLACKDUCK_URL: ${{ secrets.BLACKDUCK_URL }}
          BLACKDUCK_PROJECT_NAME: ${{ secrets.BLACKDUCK_PROJECT_NAME }}
          BLACKDUCK_TOKEN: ${{ secrets.BLACKDUCK_TOKEN }}

      - name: release
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
